<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- قائمة فرعية تحت "إدارة العقارات" -->
    <menuitem id="menu_broker_commission_root"
              name="عمولات الوسطاء"
              parent="sa_property_base.menu_pms_root"
              action="action_broker_commission"
              sequence="35"
              groups="sa_security.group_pms_accountant"/>

</odoo>
